@page
@model WebTaxiCompany.Pages.Rates.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Тариф</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.Cost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rate.RateKey" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
