@page
@model WebTaxiCompany.Pages.AddServices.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Доп. услуга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddService.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddService.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddService.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddService.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddService.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddService.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AddService.AddServiceKey">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
