@page
@model WebTaxiCompany.Pages.Brands.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Марка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.Specifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Specifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.Specificity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Specificity)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Brand.BrandKey" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
