@page
@model WebTaxiCompany.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.BodNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.BodNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.EngineNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.EngineNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.YearOfIssue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.YearOfIssue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.MaintenanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.MaintenanceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.SpecialMarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.SpecialMarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.BrandKeyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.BrandKeyNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.EmployeeKeyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.EmployeeKeyNavigation.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.MechanicKeyEmployeeKeyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.MechanicKeyEmployeeKeyNavigation.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.CarKey">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
